<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
  <h1>MOVIEZZZ</h1>
  <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1>all movie lists</h1>
    <%= link_to 'add new list', new_list_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <ul>
      <% @lists.each do |list| %>
        <div class="co-12 col-sm-6 col-md-4 mb-3">
          <li><%= link_to list.name, list_path(list) %></li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
